<?xml version="1.0" encoding="utf-8"?>
<Ku>
    <Description>拜语言调用UEditor开源富文本编辑器接口库</Description>
    <PackagePath>..\..\..\lib</PackagePath>
    <References>
        <Base Name="by" />
        <External FileName="JsUEditor.js" Language="JavaScript">
            <Class Name="UEditor" TargetFullName="byExternal_UEditor" />
        </External>
    </References>
</Ku>